@CHARSET "UTF-8";
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form, fieldset,input,textarea,p,blockquote,th,td {
	margin: 0;
	padding: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
fieldset,img {
	border: 0;
}
ol,ul,li {
	list-style: none;
}
caption,th {
	text-align: left;
}
/*h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: normal;
}*/
abbr,acronym {
	border: 0;
}
textarea, input {
	resize: none;
}
button {
	overflow: visible;
	width: auto;
	margin: 0;
	padding: 0;
	border: 0 none;
	outline: none;
}
strong, b {
	font-weight: bolder;
}

/* Public */
body {
	font-size: 13px;
	color: #630;
	font-family: "Microsoft YaHei",Tahoma, Arial;
	padding: 22px;
	/*background-color: #EFE8E2;*/
	background-color: #E0D3C9;
	background-image: url(noise.png);
}
a {
	color: #B69787;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}

.centered {
	float: left;
	width: 100%;
	text-align: center;
	margin: 0 0 10px 0;
}

.button {
	text-decoration: none;
	font: 24px/1em 'Droid Sans', sans-serif;
	font-weight: bold;
	text-shadow: rgba(255, 255, 255, .5) 0 1px 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	padding: .5em .6em .4em .6em;
	margin: .5em;
	display: inline-block;
	position: relative;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	border-top: 1px solid rgba(255, 255, 255, 0.8);
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	background-image: -webkit-gradient(radial, 50% 0, 100, 50% 0, 0, from( rgba(255, 255, 255, 0) ), to( rgba(255, 255, 255, 0.7) )), url(noise.png);
	background-image: -moz-radial-gradient(top, ellipse cover, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%), url(noise.png);
	background-image: gradient(radial, 50% 0, 100, 50% 0, 0, from( rgba(255, 255, 255, 0) ), to( rgba(255, 255, 255, 0.7) )), url(noise.png);
	-webkit-transition: background .2s ease-in-out;
	-moz-transition: background .2s ease-in-out;
	transition: background .2s ease-in-out;
	color: #666 !important;
	background-color: #BFBFBF;
	-webkit-box-shadow: inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */ hsl(0, 0%, 60%) 0 .1em 3px, hsl(0, 0%, 45%) 0 .3em 1px, /* color border */ rgba(0,0,0,0.2) 0 .5em 5px;
	-moz-box-shadow: inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */ hsl(0, 0%, 60%) 0 .1em 3px, hsl(0, 0%, 45%) 0 .3em 1px, /* color border */ rgba(0,0,0,0.2) 0 .5em 5px;
	box-shadow: inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */ hsl(0, 0%, 60%) 0 .1em 3px, hsl(0, 0%, 45%) 0 .3em 1px, /* color border */ rgba(0,0,0,0.2) 0 .5em 5px;
}
.skew {
	border-top: none;
	padding-right: 1.2em;
	padding-left: 0.8em;
	-webkit-border-radius: 5em 1em / 5em 1em;
	-moz-border-radius: 5em 1em / 5em 1em;
	border-radius: 5em 1em / 5em 1em;
}
.serif {
	font-family: 'Lobster', serif;
	font-weight: normal;
}
.button::before {
	font: 1.2em/0 sans-serif;
	content: attr(data-icon);
	margin-right: 6px;
}
.ding {
	font-size: 16px;
}
.pink {
	color: #903 !important;
	background-color: #FF80AA;
	-webkit-box-shadow: inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */ hsl(340, 70%, 50%) 0 .1em 3px, hsl(340, 80%, 40%) 0 .3em 1px, /* color border */ rgba(0,0,0,0.2) 0 .5em 5px;
	-moz-box-shadow: inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */ hsl(340, 70%, 50%) 0 .1em 3px, hsl(340, 80%, 40%) 0 .3em 1px, /* color border */ rgba(0,0,0,0.2) 0 .5em 5px;
	box-shadow: inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */ hsl(340, 70%, 50%) 0 .1em 3px, hsl(340, 80%, 40%) 0 .3em 1px, /* color border */ rgba(0,0,0,0.2) 0 .5em 5px;
}
.d9d {
	color: #600 !important;
	background-color: #FFD8B0;
	-webkit-box-shadow: inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */ hsl(0, 78%, 27%) 0 .1em 3px, hsl(0, 78%, 27%) 0 .3em 1px, /* color border */ rgba(0,0,0,0.2) 0 .5em 5px;
	-moz-box-box-shadow: inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */ hsl(0, 78%, 27%) 0 .1em 3px, hsl(0, 78%, 27%) 0 .3em 1px, /* color border */ rgba(0,0,0,0.2) 0 .5em 5px;
	box-shadow: inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */ hsl(0, 78%, 27%) 0 .1em 3px, hsl(0, 78%, 27%) 0 .3em 1px, /* color border */ rgba(0,0,0,0.2) 0 .5em 5px;
}

.list {
	width: 100%;
	background-color: #FFF;
	display: block;
	margin: 12px 0;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	-moz-box-shadow: 2px 2px 2px rgba(0,0,0,.2);
	-webkit-box-shadow: 2px 2px 2px rgba(0,0,0,.2);
	box-shadow: 2px 2px 2px rgba(0,0,0,.2);
	float: left;
	position: relative;
}
.list ul {
	margin: 10px;
}

#search li {
	padding: 0 0 10px 0;
	float: left;
	width: 100%;
}
#search span, #search input, #search select {
	float: right;
}
#search span, #search input, #search select {
	width: 68%;
}
#search input, #search select {
	height: 30px;
}
#search input {
	border: 1px solid #CCC;
}
#search label {
	float: left;
	padding: 10px 0 0 0;
}
#search span {
	color: #CCC;
}
#search li.again input {
	background-color: #FFC;
}

.list ul img {
	width: 80%;
	height: 120px;
	margin: 0 0 5px 0;
	-moz-box-shadow: 2px 2px 2px rgba(0,0,0,.2);
	-webkit-box-shadow: 2px 2px 2px rgba(0,0,0,.2);
	box-shadow: 2px 2px 2px rgba(0,0,0,.2);
	padding: 5px;
}
.list ul h2 {
	text-shadow: 1px 1px 3px rgba(0, 0, 0, .2);
}
.list ul li em {
	font-size: 36px;
	color: #900;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, .2);
}

.list .number {
	position: absolute;
	top: 15px;
	right: 15px;
	font-size: 16px;
	color: #D8C8BA;
}

#pr {
	float: left;
}
#pr a {
	background-color: #633;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	-moz-box-shadow: 5px 5px 5px rgba(0,0,0,.2) inset;
	-webkit-box-shadow: 5px 5px 5px rgba(0,0,0,.2) inset;
	box-shadow: 2px 2px 5px 5px 5px rgba(0,0,0,.2) inset;
	color: #EFE8E2;
	padding: 5px 10px;
	margin: 10px 5px 0;
	float: left;
}
#pr a.current {
	background-color: #934900;
}


#page {
	float: left;
	width: 100%;
	text-align: center;
	margin: 15px 0;
}
#page p {
	margin: 20px 0;
}
#page span {
	margin: 15px 0;
}
#page a {
	font-size: 18px;
	color: #600;
	margin: 0 10px;
}

.info {
	margin: 50px 0 0 0;
}
.info span {
	color: #999;
}
.zhoubian hr {
	height: 1px;
	border: none;
	border-top: 1px dashed #D8C8BA;
}
.list .hTitle {
	position: absolute;
	top: -38px;
	height: 28px;
	font-size: 16px;
	color: #FFF;
	background-color: #FC9;
	padding: 10px 10px 0 10px;
	left: 15px;
	-moz-border-radius: 15px 15px 0 0;
	-webkit-border-radius: 15px 15px 0 0;
	border-radius: 15px 15px 0 0;
}

.list ul li {
	margin : 5px 0 0 0;
}

.list hr {
	height: 1px;
	border: none;
	border-top: 1px solid #CCC;
}
.list .book {
	background-image: url(noise2.png);
	padding: 10px;
	border: 1px solid #DDD;
}
.list .book p {
	padding: 5px 0;
}
.list .book .h {
	font-size: 16px;
	font-weight: bold;
	padding: 10px 0;
}
.list .book input {
	width: 180px;
	margin: 0 0 0 9px;
}
.list .book .CVV2 {
	margin: 0 0 0 14px;
}
.list .book select {
	width: 182px;
	margin: 0 0 0 5px;
}
.list .book input, .list .book select {
	height: 30px;
	background-color: #FAF4DE;
	border: 1px solid #CCC;
}
.loading {
	background-image: url(loading.gif);
	background-repeat: no-repeat;
	height: 9px;
	width: 100px;
	margin: 10px 25px 0;
}

.bluetip {
	background: #31a9e9;
	color: #fff;
	width: 100px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	margin-left: -15px;
	margin-top: -15px;
	margin-bottom: 10px
}

.index-list {
margin-bottom: -2px;
overflow: hidden;
}

.index-list .item {
border-bottom: 1px solid #aba8a2;
display: block;
padding: 10px;

background-color : #FFF;
position: relative;
padding-left: 108px;
height: 85px;
}

.pic-box {
position: absolute;
left: 10px;
border: 1px solid #EEE;
background-color: #fff;
padding: 3px;
-webkit-box-shadow: 1px 1px 2px #CCC;
box-shadow: 1px 1px 2px #CCC;
}

.index-list .sub-icon {
background-position: -125px 0;
display: block;
width: 40px;
height: 40px;
position: absolute;
left: 0;
top: -1px;
text-indent: -999em;
background-size: 210px auto;
background-image: url(http://dingcanla-picture.stor.sinaapp.com/huizhan/process.png);
background-repeat: no-repeat;
}

.index-list .yuyue {
background-position: -73px -54px;
}

.index-list .new {
background-position: -170px 0px;
}

.index-list .start {
background-position: -120px 0px;
}

.hTitle hr {
	height: 1px;
	border: none;
	border-top: 1px dashed #D8C8BA;
}


.bb {
	background-color:  red;
	font-size: 14px;
	line-height: 20px;
}

.order-list     {
	border : 1px solid #d0d0d0;
	-moz-border-radius:  5px;
	-webkit-border-radius:  5px;
	border-radius : 5px;
	overflow : hidden;
	zoom : 1;
	background-color:  #fff;
    padding:  5px 10px;
    margin:  10px 10px;
}

.content-list {
	 margin : 0;
     padding: 0;
}

.order-list ul {
	padding: 5px 0px 0px 10px;
}

.order-list ul li{
	 list-style-type: disc;
}

.conlist{
	background-color: #fff;
	padding: 10px;
    margin-bottom: 10px;
}

.hotbluetip {
	border-top: 30px solid #31A9E9;
	border-right: 10px solid transparent;
	height: 0;
	width: 120px;
	color: #fff;
	text-align: center;
	position: relative;
	margin: 10px 0 10px -15px;
}

.hotbluetip span {
	position: absolute;
	bottom: 15px;
	right: -5px;
	height: 10px;
	width: 120px;
}

.header_tel {
	position: absolute;
	background: url(http://res.m.ctrip.com/html5/Content/images/ico_head.png) 50% 50% no-repeat;
	background-size: auto 100%;
	background-position: -17px top;
	width: 20px!important;
	height: 20px!important;
	margin-top: 20px;


}